*{  /*resetar o navegador*/
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html, body{ 
    font-family: Arial, Helvetica, sans-serif; /*fontes*/
    color: black; /*cor da fonte*/
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
}
#paozinho {   
    border-radius: 50%;
     width: 10rem
}
#fauna{ /*cabeçalho*/
    display: flex;
    justify-content: center;
    /*propiedades da img*/
    background-image: url(https://th.bing.com/th/id/OIP.E8rR1-BUCOWIHpS78uukkAHaEK?pid=ImgDet&rs=1);
    border-top: solid 0.09rem;
    border-bottom: solid 0.09rem;
    border-radius: 10%;
}
main{ 
    justify-content: center;
    margin-top: 9.5rem;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 5rem;
    border-left: solid 0.09rem;
    border-right: solid 0.09rem;
    border-bottom: solid 0.09rem;
    border-radius: 5%;
}
section{
    font-size: 1.5rem;
    border-radius: 2rem;
    border: solid 0.05rem;
    padding-bottom: 3rem;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3rem;
}